:root {
  --color-accent: #5eead4;
  --color-highlight: #e2e8f0;
}
html {
  scroll-behavior: smooth;
}

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #0f172a;
  color: #94a3b8;
  padding: 50px 40px;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  gap: 120px;
}

p {
  font-size: 16px;
  line-height: 2rem;
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {
  background-color: var(--color-accent);
  color: #0f172a;
}

.underlay {
  position: fixed;
  background: #172554;
  inset: 0;
  opacity: 0.09;
}

header,
main,
footer {
  position: relative;
  z-index: 10;
}

header {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}

header h1,
header h4,
.lightText {
  color: var(--color-highlight);
}

header a {
  text-decoration: none;
}

header h1 {
  font-weight: 600;
}

header h4 {
  font-weight: 500;
}

nav {
  display: none;
}

nav a {
  font-size: 18px;
}
.messenger-icons {
  display: flex;
  align-items: center;

  font-size: 30px;
  gap: 15px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

section h2,
.experience-card h3 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}

.sticky-header {
  position: sticky;
  top: 0;
  padding: 1rem 0;
}
.sticky-header h2 {
  position: relative;
  z-index: 2;
}

.sticky-header::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #101a31;
  opacity: 0.9;
}

.about-contents {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.about-contents p {
  font-size: 20px;
}

.anchor-text {
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
}

.anchor-text:hover {
  color: var(--color-accent);
}

a.anchor-text {
  text-decoration: none;
}

.experience-contents,
.projects-contents {
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.experience-card,
.project-card {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.experience-card {
  gap: 10px;
}

.project-card {
  gap: 20px;
}

.card-column {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.tenure {
  opacity: 0.8;
  text-transform: uppercase;
  font-size: 16px !important;
}

.experience-card p {
  font-size: 18px;
}

h3.card-header {
  font-weight: 400;
  font-size: 18px;
}

.anchor-icon {
  padding-left: 10px;
  text-decoration: none;
}

.tag-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  color: var(--color-accent);
}

.tag {
  background: rgba(45, 212, 191, 0.1);
  border-radius: 30px;
  padding: 5px;
}

.tag p {
  font-size: 16px;
}

.project-image-container {
  max-width: 200px;
  overflow: hidden;
  display: grid;
  place-items: center;
  aspect-ratio: 16 / 9;
  order: 2;
  border-radius: 10px;
}

.project-image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.project-stat-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-stat-link p {
  font-size: 16px;
}

.project-archive-link {
  position: relative;
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
  margin-right: auto;
}

.project-archive-link:hover {
  color: var(--color-accent);
}

.project-archive-link span {
  transition-duration: 300ms;
}

.project-archive-link:hover span {
  padding-left: 5px;
}

.project-archive-link::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  background: transparent;
  transition-duration: 200ms;
}

.project-archive-link:hover::after {
  background: var(--color-accent);
}

.go-to-begining {
  position: relative;
  color: var(--color-highlight);
  text-decoration: none;
  transition-duration: 200ms;
  margin-right: auto;
}

.go-to-begining:hover {
  color: var(--color-accent);
}

.go-to-begining span {
  transition-duration: 300ms;
}

.go-to-begining:hover span {
  padding-top: 5px;
}

.go-to-begining::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  background: transparent;
  transition-duration: 200ms;
}

.go-to-begining:hover::after {
  background: var(--color-accent);
}

footer p {
  font-size: 14px;
}

@media (min-width: 640px) {
  .project-card,
  .experience-card {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .card-column {
    grid-column: span 3 / span 3;
  }

  .project-image-container {
    order: 0;
  }
}

@media (min-width: 1024px) {
  body {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
    padding: 120px;
    padding-top: 0;
    padding-bottom: 10px;
  }
  header {
    position: sticky;
    top: 10px;
    margin-left: auto;
    height: 100vh;
    font-size: 16px;
    padding-bottom: 80px;
  }

  header h1 {
    font-size: 40px;
  }

  header h4 {
    font-size: 25px;
  }

  header p {
    max-width: 300px;
  }

  .sticky-header {
    display: none;
  }
  header,
  main {
    padding-top: 80px;
    max-width: 600px;
    width: 100%;
  }
  nav {
    display: flex;
    flex-direction: column;
  }

  main {
    margin-right: auto;
  }

  footer {
    grid-column: span 2 / span 2;
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }
}
